---
import "../styles/global.css";

interface Props {
  pageName?: string;
  title: string;
  description: string;
  keywords: string;
  ogImageLink: string;
}
const { pageName, title, description, keywords, ogImageLink } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/decostore-favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />

    {
      pageName === "home" && (
        <link
          rel="preload"
          href="/fuentes/Sigmar-Regular.woff2"
          as="font"
          type="font/woff2"
          crossorigin="anonymous"
        />
      )
    }

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />

    <!-- <meta property="og:url" content={canonical} /> -->
    <meta property="og:type" content="website" />

    {ogImageLink && <meta property="og:image" content={ogImageLink} />}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />

    {ogImageLink && <meta name="twitter:image" content={ogImageLink} />}

    <title>
      {title}
    </title>
  </head>
  <body>
    <slot />
  </body>
</html>
